<!DOCTYPE html>

<html>
<head>
    <meta charset='utf-8' />
    {% block meta %} <!-- block meta -->{% endblock %}
    <title>{% block title %} ? {% endblock %} - python webapp</title>
    <link rel="stylesheet" href="/static/css/uikit.min.css">
    <link rel="stylesheet" href="/static/css/uikit.gradient.min.css">
    <link rel="stylesheet" href="/static/css/awesome.css"/>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/shal.min.js"></script>
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/sticky.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/awesome.js"></script>
    {% block beforehead %} <!-- before head --> {% endblock %}
</head>
<body>
    <nav class="uk-navbar uk-navbar-attached uk-margin-bottom">
        <div class="uk-container uk-container-center">
            <a href="/" class='uk-navbar-brand'>Blog of Tian Yang</a>
            <ul class='uk-navbar-nav'>
                <li data-url="blogs"><a href='/'><i class='uk-icon-home'></i>日志</a></li>
                <li><a target='_blank'href='http://39.106.98.76/manage/blogs'><i class='uk-icon-book'></i>博文管理</a></li>
                <li><a target="_blank" href="http://39.106.98.76/manage/users"><i class="uk-icon-book"></i> 用户管理</a></li>
                <li><a target="_blank" href="http://39.106.98.76/manage/comments"><i class="uk-icon-book"></i> 评论管理</a></li>
                <li><a target="_blank" href="https://github.com/XXXUUUXXX/git_1/tree/master/webapp1"><i class="uk-icon-code"></i> 源码</a></li>
            </ul>
            <div class='uk-navbar-flip'>
                <ul class='uk-navbar-nav'>
                {% if __user__ %}
                    <li class='uk-parent' data-dk-dropdown>
                        <a href='#0'><i class='uk-icon-user'></i>{{ __user__.name }}</a>
                        <div class='uk-dropdown uk-dropdown-navbar'>
                            <ul class='uk-nav uk-nav-navbar'>
                                <li><a href='/signout'><i class='uk-icon-sign-out'></i>登出</a></li>
                            </ul>
                        </div>
                    </li>
                {% else %}
                    <li><a href='/signin'><i class='uk-icon-sign-in'></i>登录</a></li>
                    <Li><a href='/register'><i class='uk-icon-edit'></i>注册</a></Li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    
    <div class='uk-container uk-container-center'>
        <div class='uk-grid'>
            {% block content %}
            {% endblock %}
        </div>
    </div>
    
    <div class='uk-margin-large-top' style='background-color:#eee,;border-top:1px solid #ccc;'>
        <div class='uk-container uk-container-center uk-text-center'>
            <div class='uk-panel uk-margin-top uk-margin-bottom'>
                <p>
                    <a target='_blank' href='http://weibo.com/XXX_UUU_XXX' class='uk-icon-button uk-icon-weibo'></a>
                    <a target='_blank' href='http://gitbub.com/XXXUUUXXX' class='uk-icon-button uk-icon-github'></a>
                    <a target='_blank' href='about:blank' class='uk-icon-button uk-icon-linkedin-square'></a>
                    <a target='_blank' href='about:blank' class='uk-icon-button uk-icon-twitter'></a>
                </p>
                <p>Powered by <a href='http://blog.tianyang.com'>Python Blog</a>. Copyright &copy; 2017. [<a href='_blank'>Manage</a>]</p>
                <p><a href='http://www.tianyang.com/' target='_blank'>www.tianyang.com</a>. All rights reserved.</p>
                <a target='_blank' href='http://www.w3.org/TR/html5/'><i class='uk-icon-html5' style='font-size:64px; color: #444;'></i></a>
            </div>
        </div>
    </div>
    
</body>
</html>
